[submodule "Get_Next_line_42"]
	path = Get_Next_line_42
	url = https://github.com/Danimdf/Get_Next_line_42.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/Danimdf/Libft.git
[submodule "Printf"]
	path = Printf
	url = https://github.com/Danimdf/Printf.git
[submodule "do_long"]
	path = do_long
	url = https://github.com/Danimdf/so_long.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/Danimdf/so_long.git
[submodule "Pipex"]
	path = Pipex
	url = https://github.com/Danimdf/Pipex.git
[submodule "Push_Swap"]
	path = Push_Swap
	url = https://github.com/Danimdf/Push_Swap.git
